<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqIeGHfReLLvCc4k0vzwBIn1SbvDdhqEI</string>
	<key>GCM_SENDER_ID</key>
	<string>580350286383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kushi.hackgt-productivity</string>
	<key>PROJECT_ID</key>
	<string>hackgt-productivity</string>
	<key>STORAGE_BUCKET</key>
	<string>hackgt-productivity.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580350286383:ios:00ac5c89a68e0c101244da</string>
</dict>
</plist>